@media screen and(min-width: 320px) and(max-width: 480px) {
  html{
    font-size: 10px;
  }
}

  @media screen and(min-width: 481px) and(max-width: 768px) {
  .about{
    margin-top: 9rem;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    &--title{
      font-size: 3.78rem;
      margin-bottom: -9rem;
    }
    &__cards{
      flex: 50%;
    }
    &__cards3{
      &--text{
        margin-top: 1.5rem;
      }
    }
    &__cards2{
      &--text{
        margin-top: 1.5rem;
      }
    }
    &__cardsbg{
      background: none;
    }
    &__underline{
      flex: 11%;
      margin:0;
      padding: 0;
      background: none;
      &--text{
        margin:0;
        padding: 2rem 0 1rem 0;
        display: flex;
        text-align: center;
          font-size: 1.4rem;
        color:#8c7b8f;
        font-family: 'Lato', regular;
        border-bottom: 0.2rem solid #8c7b8f;

      }
    }
  }
}